html {
    box-sizing: border-box;
   
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--body-bg);
    color: var(--title-color);
    font-family: var(--main-font);
    @include mini{
        background-color: #eeeeee;
    }
    @include mobile{
        background-color: #eeeeee;
    }
    
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}