:root{
    --main-font:'Roboto',
    sans-serif;
    --secondary-font: 'Arial';
    --body-bg:#dcdcdc;
    --logo-bg:#959595;
    --nav-bg:#5f5f5f;
    --block-bg:#6f6f6f;
    --menu-color:#333333;
    --link-button-color:#006c86;
    --form-bg:#cccccc;
    --title-color:#000000;
    --secondary-bg: #ffffff;
    --text-color:#727272;
    --language-bg:#f7f7f7;
    --main-nav-bg:#616161;
    --menu-hover:#a9a9a9;
    --form-title:#343434;
    --bg-item:#cbcbcb;
    --before-item:#626262;
}